@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#root{
  height: 100%;
  width: 100%;
}
.hero-section {
  width: 100%;
  height: 100%;
  --color: #1e1e1e;
  background-color: #0c0c0c;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}
